body {
    text-align: center;
    background-color: black;
    color: white;
}

#szer, #szam {
    font-size: 25px;
    font-weight: bold;
}

#wc, #bc {
    width: 5%;
    position: fixed;
    right: 10px;
    top: 10px;
}

body.darkmode #bc {
    background-color: black;
    color: white;
}

body.lightmode #wc {
    background-color: white;
    color: black;
}
 
#starter {
    margin: auto;
    align-items: center;
}